/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;900&display=swap");
/* IMAGE-GALLERY */
@import "~react-image-gallery/styles/css/image-gallery.css";
/* GLOBAL-STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li,
ul {
  list-style: none;
}

img {
  width: 100%;
}
p,
a,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* ---- IMAGE-GALLERY-STYLE ---- */
.image-gallery-play-button,
.image-gallery-fullscreen-button,
.image-gallery-right-nav,
.image-gallery-left-nav {
  display: none;
}
.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  border: none;
  border-bottom: 2px solid darkblue;
  margin-right: 10px;
}

@media only screen and (max-width: 370px) {
  .image-gallery {
    width: 90%;
  }
}

/* /IMAGE-GALLERY */
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
